# MLflow / DagsHub Tracking Credentials
MLFLOW_TRACKING_URI="https://dagshub.com/mushtaqinahmad/face-mask-detection/experiments"
MLFLOW_TRACKING_USERNAME="mushtaqinahmad"
MLFLOW_TRACKING_PASSWORD="d826bf5c876ab9a5735b01ab351e5ba02c38c0e8"
