# Python & environments
__pycache__/
*.pyc
.env
venv/
.venv/
env/
.pytest_cache/
.venv311/

# Data and models
data/raw/*
!data/raw/.keep
data/processed/*
!data/processed/.keep
models/*
!models/.keep

# IDEs
.idea/
.vscode/
